<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Dancing+Script:wght@600&family=Girassol&family=Manrope:wght@600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script>


        // Trigger CSS animations on scroll.
        // Detailed explanation can be found at http://www.bram.us/2013/11/20/scroll-animations/

        // Looking for a version that also reverses the animation when
        // elements scroll below the fold again?
        // --> Check https://codepen.io/bramus/pen/vKpjNP

        jQuery(function ($) {

            // Function which adds the 'animated' class to any '.animatable' in view
            var doAnimations = function () {

                // Calc current offset and get all animatables
                var offset = $(window).scrollTop() + $(window).height(),
                    $animatables = $('.animatable');

                // Unbind scroll handler if we have no animatables
                if ($animatables.length == 0) {
                    $(window).off('scroll', doAnimations);
                }

                // Check all animatables and animate them if necessary
                $animatables.each(function (i) {
                    var $animatable = $(this);
                    if (($animatable.offset().top + $animatable.height() - 20) < offset) {
                        $animatable.removeClass('animatable').addClass('animated');
                    }
                });

            };

            // Hook doAnimations on scroll, and trigger a scroll
            $(window).on('scroll', doAnimations);
            $(window).trigger('scroll');

        });
        /**modal */
        $(function () {
            //----- OPEN
            $("[data-pd-popup-open]").on("click", function (e) {
                var targeted_popup_class = $(this).attr("data-pd-popup-open");
                $('[data-pd-popup="' + targeted_popup_class + '"]').fadeIn(100);
                $("body").addClass("popup-open");
                e.preventDefault();
            });

            //----- CLOSE
            $("[data-pd-popup-close]").on("click", function (e) {
                var targeted_popup_class = $(this).attr("data-pd-popup-close");
                $('[data-pd-popup="' + targeted_popup_class + '"]').fadeOut(200);
                $("body").removeClass("popup-open");
                e.preventDefault();
            });
        });

    </script>
    <style>
        f h1 {
            text-align: left;
            font-size: 100px;
            font-weight: bolder;
            color: white;
        }
    </style>
</head>

<body style="background-color: black">
    <div class="icon-bar hidden-xs">
        <a href="https://github.com/harilee1325" class="facebook"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/harikrishnan-code/" class="linkedin"><i class="fab fa-linkedin"></i></a>
    </div>
    <nav class="fixed-top" style="color: white; font-size: 50px; font-weight: bold">
        <div id="logo">Android Developer</div>

        <label for="drop" class="toggle"> <i class="fa fa-bars fa-2x"></i></label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="home.html" class="cool-link">Home</a>
            </li>
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="#about-section"
                    class="cool-link">About</a></li>
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="#resume" class="cool-link">Resume</a>
            </li>
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="#service"
                    class="cool-link">Service</a></li>
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="#skill" class="cool-link">Skill</a>
            </li>
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="#projects-section"
                    class="cool-link">Project</a></li>
            <li><a style="color: white; font-size: 25px; font-weight: bold" href="#contact-section"
                    class="cool-link">Contact</a></li>
        </ul>
    </nav>

    <section>
        <div class="container-fluid">
            <div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#carousel" data-slide-to="0"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active boat">
                        <div class="container h-100 d-none d-md-block">
                            <div class="row align-items-center h-100">
                                <div class="caption animated fadeIn col-10 offset-1">
                                    <h2 class="animated fadeInLeft" style="font-size: 100px;color:white;">
                                        <span style="color: yellow;font-size: 100px;"> I'm </span> Harikrishnan</h2>
                                    <p class="animated fadeInRight" style="font-size: 25px;color:white;">I'm a mobile
                                        app developer</p>

                                    <!-- <button class="btn btn-success" style="font-size: 30px">
                                        <a href="#contact-section" style="color: white">contact me</a></button> -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item sea">
                        <div class="container h-100 d-none d-md-block">
                            <div class="row align-items-center h-100">
                                <div class="caption animated fadeIn  col-10 offset-1">
                                    <h2 class="animated fadeInLeft" style="font-size:100px;color:white;">I'm an
                                        <span style="color: yellow;font-size: 100px;"> Android
                                            Developer</span>
                                    </h2>
                                    <p class="animated fadeInRight" style="font-size: 25px;color:white;">based in
                                        Kerala
                                    </p>
                                    <!-- <button class="btn btn-success" style="font-size: 30px">
                                        <a href="#contact-section" style="color: white">contact me</a></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        </div>
    </section>
    <!--about me-->
    <section class="ftco-about img ftco-section ftco-no-pb animatable bounceIn id=" about-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center hidden-xs">
                            <img src="{{url_for('static', filename='img/hari.jpg')}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h1 style="text-align:left;
                                font-size:100px;
                                font-weight: bolder;
                                color:white;
                                ">About</h1>

                            <p style="font-size: 25px;
                            color:white;">Innovative tech mind with 2 years of experience working as a computer
                                programmer. Extensive expertise in the field of android development and working with
                                flash framework. </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span style="text-align:left;
                                font-size:20px;
                                margin-top: 15px;   
                                font-weight: bolder;
                                color:white;">Name </span> <span class="word-space" style="text-align:left;
                                font-size:20px;
                                margin-top: 15px;   
                                font-weight: bolder;
                                margin-left: 18px;">Harikrishnan</span>
                                </li>
                                <li class="d-flex"><span style="text-align:left;
                                    font-size:20px;
                                    font-weight: bolder;
                                    margin-top: 15px;   
                                    color:white;">Date of birth</span> <span class="word-space2" style="text-align:left;
                                     font-size:20px;
                                    margin-top: 15px;">Feb 14,1999</span></li>
                                <li class="d-flex"><span style="text-align:left;
                                    font-size:20px;
                                    font-weight: bolder;
                                    margin-top: 15px;   
                                    color:white;">Email </span> <span class="word-space" style="text-align:left;
                                     font-size:20px;
                                    margin-left: 55x; 
                                    margin-top: 15px;
                                    color:blanchedalmond
                                    ">leehari007@gmail.com</a></span>
                                </li>
                                <li class="d-flex"><span style="text-align:left;
                                    font-size:20px;
                                    font-weight: bolder;
                                    margin-top: 15px;   
                                    color:white;">Phone </span> <span style="text-align:left;
                                    font-size:20px;
                                   margin-left: 55x; 
                                   margin-top: 15px;" class="word-space">+91 8075 687141</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="counter-wrap ftco-animate d-flex mt-md-3">
                        <button class="btn btn-success" style="font-size: 30px">
                            <a href="{{url_for('static', filename='img/new_resume.pdf')}}" style="color: white">see
                                resume</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--resume-->
    <section class="resume" id="resume">
        <div class="container">
            <h1 style="
                text-align: left;
                font-size: 100px;
                font-weight: bolder;
                color: white;" class=" amimatable moveUp">Resume</h1>
            <p style=" font-size: 25px; color:white;">To express what one knows or to impart
                knowledge is to empower others and guide them in the right direction. I started writing when I started
                learning important things and when
                I wanted to share that knowledge with the community that taught me the same.</p>
            <div class="box  animatable bounceIn">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                            <div class="box1-part text-start">
                                <img src="{{url_for('static', filename='img/classx.png')}}"
                                    style="border-radius: 40px;">
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12  animatable bounceIn">
                            <div class="box1-part text-start">
                                <img src="{{url_for('static', filename='img/class12.png')}}"
                                    style="border-radius: 40px;">
                            </div>
                            <!-- <div class="box1-part text-start" style="margin-top: 10px; margin-bottom: 20px;">

                                    <h2 style="color: yellow; ">2016-2017</h2>
                                    <h3 style="color: black; ">XII CBSE</h3>
                                    <span style="color: black; font-size:20px; font-weight:bold;">Completed 12th from
                                        Arya Central School with 89.4% in science stream (Computer Science)</span>
                                </div> -->
                        </div>

                    </div>
                    <div class="row" style="margin-top: 20px;">

                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12  animatable bounceIn">
                            <div class=" box1-part text-start">
                                <img src="{{url_for('static', filename='img/bca.png')}}" style="border-radius: 40px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!--service-->
    <section class="service " id="service">
        <div class="container">
            <h1 style="text-align: left;
                        font-size: 100px;
                        font-weight: bolder;
                         color: white;" class=" amimatable moveUp">Services</h1>
            <p style=" font-size: 25px; color:white;">
            </p>
            <div class="box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 animatable bounceIn">
                            <div class="box1-part text-start">
                                <img src="{{url_for('static', filename='img/app_dev.png')}}">
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 animatable bounceIn">
                            <div class="box1-part text-start">

                                <img src="{{url_for('static', filename='img/article.png')}}">

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>

    </section>
    <!--skill-->
    <section class="ski  " id="skill">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading-section text-center ftco-animate  amimatable moveUp">
                    <h1 style="
                    text-align: left;
                    font-size: 100px;
                    font-weight: bolder;
                    color: white;">Skills</h1>
                    <div class="skill1">
                        <div class="card2 col-md-4 col-sm-12 animatable bounceIn" style="align-self: center;  ">
                            <div class="box1 ">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>85<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">JAVA</h2>
                            </div>
                        </div>
                        <div class="card2 col-md-4 col-sm-12 animatable bounceIn" style="align-self: center; ">
                            <div class="box1 ">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>100<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">Android dev</h2>
                            </div>
                        </div>
                        <div class="card2 col-md-4 col-sm-8 animatable bounceIn " style="align-self: center;  ">
                            <div class="box1 ">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2> 50<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">Web dev</h2>
                            </div>
                        </div>
                    </div>
                    <div class="skill1">
                        <div class="card2 col-md-4 col-sm-8 animatable bounceIn" style="align-self: center;  ">
                            <div class="box1">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>80<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">Xml</h2>
                            </div>
                        </div>
                        <div class="card2 col-md-4 col-sm-12 animatable bounceIn" style="align-self: center; ">
                            <div class="box1">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>100<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">Flask</h2>
                            </div>
                        </div>
                        <div class="card2 col-md-4 col-sm-12 animatable bounceIn" style="align-self: center; ">
                            <div class="box1">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>50<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">Python</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--project-->
    <section class="ftco-section ftco-project" id="projects-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center amimatable moveUp ">
                    <h1 style="
                    text-align: left;
                    font-size: 100px;
                    font-weight: bolder;
                    color: white;">Projects</h1>
                </div>
            </div>
            <div class="box ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 animatable bounceIn">
                            <div class="box1-part text-start">
                                <a href="https://github.com/krnsree/TechUtsav2k20"> <img
                                        src="{{url_for('static', filename='img/techutsav.png')}}"></a>
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 animatable bounceIn">
                            <div class="box1-part text-start">
                                <a href="https://github.com/harilee1325/MovieMan"><img
                                        src="{{url_for('static', filename='img/movieman.png')}}"></a>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 animatable bounceIn">

                            <div class="box1-part text-start">
                                <a href="https://github.com/harilee1325/BSafe">
                                    <img src="{{url_for('static', filename='img/bsafe.png')}}">
                                </a>

                            </div>

                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 animatable bounceIn">
                            <div class="box1-part text-start">
                                <a href="https://github.com/harilee1325/location_tracker"> <img
                                        src="{{url_for('static', filename='img/location.png')}}"></a>
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>
    <!--counter-->
    <section class="ftco-section ftco-hireme img margin-top animatable bounceIn" id="contact-section">
        <div class="container">
            <div class="row justify-content-center d-none d-md-block d-flex">
                <div class="col-md-6 ftco-animate text-center">
                    <h1 style="
                        text-align: left;
                        font-size: 100px;
                        font-weight: bolder;
                        color: white;">I'm Available for freelancing</h1>
                    <p style=" font-size: 25px; color:white;">Ready to take up any opportunity to develop applications
                        based on client requirement.</p>
                    <!-- Button trigger modal -->
                    <form id="contact-form" action="" method="POST">
                        <div class="form-group mb-4">
                            <input style="height: 30px;" type="text" name="name" id="name" class="form-control"
                                placeholder="Name" required="" />
                        </div>
                        <div class="form-group mb-4">
                            <input style="height: 30px" type="email" name="email" id="email" class="form-control"
                                placeholder="Email" required="" />
                        </div>
                        <div class="form-group mb-5">
                            <textarea rows="6" name="message" id="message" class="form-control" placeholder="Message..."
                                required=""></textarea>
                        </div>
                        <div class="text-right">

                            <script>

                                function sendMail() {

                                    var name = document.getElementById("name").value;
                                    var message = document.getElementById("message").value;
                                    var email = document.getElementById("email").value;
                                    window.open("mailto:leehari007@gmail.com?subject=" + name + " suggestion " + "&body=" + message + " from " + email);

                                }
                            </script>
                    </form>
                    <a class="btn btn-success button" style="font-size: 30px; margin-top:10px;"
                        data-pd-popup-open="popupNew" onclick="sendMail()" href="#">Contact Me</a>
                    <!-- 
                        <div class="popup" data-pd-popup="popupNew">
                            <div class="popup-inner">
                               
                        
                                </span>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
        </div>
    </section>


    <footer class="ftco-footer ftco-section" style="margin-top: 200px">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script data-cfasync="false"
                        src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script type="562d7d7a1224985956e06f4a-text/javascript">
                            document.write(new Date().getFullYear());
                        </script>
                    All rights reserved | This template is made with <i class="icon-heart color-danger"
                        aria-hidden="true" ;"></i> by<span style="font-weight: bold; color: white;"> SIVANI B
                        RUPAVAT</span>
                </p>
            </div>
        </div>
        </div>
    </footer>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js" type="562d7d7a1224985956e06f4a-text/javascript"></script>
    <script src="js/jquery-migrate-3.0.1.min.js" type="562d7d7a1224985956e06f4a-text/javascript"></script>
    <script src="js/popper.min.js" type="562d7d7a1224985956e06f4a-text/javascript"></script>
    <script src="js/bootstrap.min.js" type="562d7d7a1224985956e06f4a-text/javascript"></script>


</body>

</html>
